<!doctype html>

<form action="/add_person" method="POST">
	<input type="text" name="image_url"></input>
 	<input type="text" name="person_name"></input>
	<input type="submit">Add person</input>
</form>


<form action="/add_image" method="POST">
	<input type="text" name="image_url"></input>
	<input type="submit">Add image</input>
</form>
<h1> People</h1>
{% for human in people %}
<p> {{human.image_url}} -> {{human.person_name}} </p>
{% endfor %}

<h1> Encodnig</h1>
{% for encoding in encodings %}
<p> {{encoding.face_encoding}} -> {{encoding.person_name}} </p>
{% endfor %}

<h1> Images</h1>
{% for image in images %}
<p> {{image.image_url}} -> {{image.people}} </p>
{% endfor %}
